 
  .grey-bg {
      padding: 0;
  }
  

  .login-panel {
    background: #444;
    color: #fff;
    padding: 10px 80px;
  }

  .form-field {
    padding: 0 80px;
  }

  p.not-member {
    text-align: right;
  }

  a.sign-up-link {
    color: #adcbfa !important;
  }

  input.form-control {
    background-color: #666666;
    color: #DDDDDD;
}

.form-control:focus {
    color: #DDDDDD;
}

  .form-field h3 {
    text-transform: uppercase;
  }

  .form-group.clear-both {
    clear: both;
    float: left;
    width: 100%;
    .forgot-password {
      color: #adcbfa;
      font-size: 13px;
    }
  

  .or-field {
    position: relative;
    span {
      color: #6f7886;
      font-size: 13px;
    }
    :after {
      content: "";
      position: absolute;
      background: #92959873;
      height: 1px;
      left: 5%;
      width: 95%;
      top: 13px;
    }
  }
  .form-check-label {
    color: #adcbfa;
    font-size: 13px;
  }

  .form-control {
    background-color: #666;
  }
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border: 1px solid #E8F0FD;
}
input.form-control.ng-dirty {
  background: #E8F0FD !important;
  color: #222222 !important;
  font-size: 16px;
}

.tandconreg .invalid-feedback {
  top: 32px;
}

.phone-invalid-feedback {
  position: absolute;
  top: -4px;
  right: 12px;
  text-align: right;
  color: #ffaba0;
  font-size: 12px;
}
.mb-2.form-group.phone{
  width: 100%;
}
.phoneBox{
  margin: 0 5px;
}
.invalid-feedback {
  position: absolute;
  top: -4px;
  right: 12px;
  text-align: right;
  color: #FFABA0;
  font-size: 12px;
}

.bottom-link {
  padding: 30px 40px 25px;
}

a.link {
  padding: 0 20px 0 10px;
  color: #ddd;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.right-footer {
  background: #444;
  padding: 10px 15px;
}

.copyright {
  padding: 20px 145px 0;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}



.phone label.form-label {
  padding-left: 5px;
}


@media (min-width: 768px) {
.container-fluid.footer-container {
  position: absolute;
  bottom: 0;
}
}

@media (max-width: 767px) {

 

.bottom-link {
    padding: 25px 0 !important;
    text-align: center;
}

.wrapper {
  height: auto !important;
}

.footer-container {
  background: #444;
}

.right-footer {
  padding-bottom: 20px;
}

footer .copyright {
  padding: 10px;
  font-size: 9px;
  text-align: center;
}

.bottom-link a.link {
  padding: 0 20px;
  font-size: 14px;
}

}

.default-btn[disabled],
.default-btn[disabled]:hover {
    background: none;
    color: #adcbfa;
    border: 1px solid #ADCBFA;
}

.default-btn {
    background: #ADCBFA;
    color: #05206A;
    border: 1px solid #ADCBFA;
    margin-top: 5px;
}

.default-btn:hover {
    background: #05206A;
    color: #fff;
    border: 1px solid #05206A;
}