<!--<div class="header">
     <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand"><img src="./assets/images/logo.svg"></a>
  
        <div class="navbar-right">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <button type="button" routerLink="/login" class="btn only-text-btn sign-in-btn">Sign In</button>
            </li>
            <li class="nav-item">
              <button type="button" routerLink="/signup" class="btn default-btn sign-up-btn">Sign Up</button>
            </li>
  
  
          </ul>
  
        </div>
      </div>
    </nav> 
  
  
  </div>
-->
  
  <div class="bottom-field">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
           <h3>404 - Page not found</h3>
           <p>The requested URL was not found on this server. Please try another page.</p>
           <p><a (click)="back()" class="backhome">Back</a></p>
        </div>
      </div>
    </div>
  </div>
