input.form-control {
    background-color: #666666;
    color: #DDDDDD;
}

input.form-control:active,
.form-control:focus {
    background-color: #E8F0FD;
}

.messages-field textarea.form-control {
    background-color: #E8F0FD;
    border: 1px solid transparent;
    min-height: 200px;
}
input.form-control.ng-dirty {
    background: #E8F0FD !important;
    color: #222222 !important;
    font-size: 16px;
  }

.form-control:focus {
    color: #DDDDDD;
}

.form-label {
    color: #DDDDDD;
    font-size: 16px;
    font-weight: bold;
}

.forgot-password a {
    color: #ADCBFA;
    font-size: 16px;
    cursor: pointer;
}

.card {
    background: #444;
    padding: 20px;
    border-radius: 10px;
}

.default-btn[disabled],
.default-btn[disabled]:hover {
    background: none;
    color: #adcbfa;
    border: 1px solid #ADCBFA;
}

.default-btn {
    background: #ADCBFA;
    color: #05206A;
    border: 1px solid #ADCBFA;
}

.default-btn:hover {
    background: #05206A;
    color: #fff;
    border: 1px solid #05206A;
}