.inner-content {
    padding: 25px 100px 40px;

    h5 {
        font-size: 21px;
        font-weight: bold;
        color: #BBBBBB;
    }
}

.form-label {
    font-weight: bold;
    color: #DDDDDD;
    font-size: 16px;
}

input.form-control:active,
.form-control:focus {
    background-color: #E8F0FD;
}

.messages-field textarea.form-control {
    background-color: #E8F0FD;
    border: 1px solid transparent;
    min-height: 200px;
}

 .invalid-feedback{
    top: 42px;
}

.default-btn[disabled],
.default-btn[disabled]:hover {
    background: none;
    color: #adcbfa;
    border: 1px solid #ADCBFA;
}

.default-btn {
    background: #ADCBFA;
    color: #05206A;
    border: 1px solid #ADCBFA;
}

.default-btn:hover {
    background: #05206A;
    color: #fff;
    border: 1px solid #05206A;
}

.invalid-feedback {
    position: absolute;
    top: -4px;
    right: 12px;
    text-align: right;
    color: #FFABA0;
    font-size: 12px;
  }
  .tandconreg .invalid-feedback {
    top: 32px;
  }
