<div class="container">
    <div class="cart-panel">
        <div class="row">
            <div class="col-md-12">
                <h3>Order Confirmation</h3>
                <cross></cross>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="inner-box">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane-add" id="confirmation" role="tabpanel">
                            <div class="row">
                                <div class="col-md-12">
                                    <br>
                                    <h4>Confirmation</h4>
                                    <p><small>Thank you for your order!</small></p>
                                    <p><strong>Your Order ID - {{order_ID}}</strong></p>
                                </div>
                                <div class="col-md-7">
                                    <div class="card order-summary left-information">
                                        <div class="card-body">
                                            <div class="card-title">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="item-title">
                                                            Purchase Information
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="item-field">
                                                <div class="row row-item">
                                                    <div class="col-md-7 col-6">
                                                        <div class="item-left">
                                                            Order Number
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5 col-6">
                                                        <div class="item-right text-right">
                                                             {{orderSummary?.order_number}}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-7 col-6">
                                                        <div class="item-left">
                                                            Currency
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5 col-6">
                                                        <div class="item-right text-right">
                                                            {{orderSummary?.payment.currency}}
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-7 col-6">
                                                        <div class="item-left">
                                                            Number of Reports (Quantity)
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5 col-6">
                                                        <div class="item-right text-right">
                                                            {{orderSummary?.reports.length}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-7 col-6">
                                                        <div class="item-left">
                                                            Number of Credits (Quantity)
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5 col-6">
                                                        <div class="item-right text-right">
                                                            {{orderSummary?.standard_credits.quantity}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-7 col-6">
                                                        <div class="item-left">
                                                            Amount Paid
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5 col-6">
                                                        <div class="item-right text-right">
                                                           $ {{orderSummary?.payment.total}}
                                                        </div>
                                                    </div>
                                                </div>
                                         
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="card order-summary">
                                        <div class="card-body">
                                            <div class="card-title">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="item-title">
                                                            Order Summary
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-field">
                                                <div class="row row-item">
                                                    <div class="col-md-7 col-6">
                                                        <div class="item-left">
                                                            Subtotal
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5 col-6">
                                                        <div class="item-right text-right">
                                                            $ {{paymentData?.subtotal}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-7 col-6">
                                                        <div class="item-left">
                                                            Tax
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5 col-6">
                                                        <div class="item-right text-right">
                                                            {{paymentData?.tax}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sub-total">
                                                <div class="row">
                                                    <div class="col-md-6 col-6">
                                                        Estimated total
                                                    </div>
                                                    <div class="col-md-6 col-6 text-right">
                                                        <strong>${{paymentData?.total}}</strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5>Thank you for you order! A confirmation email was sent to {{userdetails.email}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>